.App {
  display: flex;
  height: 100vh;
  color: black;
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  filter: ;
  progid: DXImageTransform.Microsoft.gradient(
    startColorstr= "#0061FF",
    endColorstr= "#60EFFF",
    GradientType=1
  );
  -webkit-filter: pro;
}
.listParent {
  background-color: white;
  height: 80vh;
  width: 50vw;
  margin: auto auto;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 10px 10px 85px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 85px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 85px -3px rgba(0, 0, 0, 0.75);
}
.listHeading {
  font-size: 2rem;
}
.listInputForm {
  display: flex;
  justify-content: space-between;
}
.listInput {
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  border-width: 1px;
}
.listInput:focus {
  outline-color: #0061ff;
}
.listInputButton {
  width: 20%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-width: 1px;
  margin: 0 2px;
  padding: 1rem;
  border-color: gray;
}
.listInputButton:hover {
  background-color: teal;
  color: white;
}
